// This is an empty scss file for your custom styles - Please add your super duper awesome mega

$secondary: #f3f0ec;
$secondary-500: #d0bda5;
$xl: 1500px;
$lg: 1200px;
$md: 992px;

body {
	color: #1a1818;
	font-family: "Fira Sans", sans-serif;
}

h1 {
	font-family: "Crimson Text", serif;
}

#top-bar {
	height: 50px;
	background-color: $secondary;
	display: flex;
	.contact-info {
		display: flex;
		flex: 1;
		@media (max-width: $xl) {
			flex: initial;
		}
		.contact-item {
			display: flex;
			align-items: center;
			padding-left: 1em;
			padding-right: 1em;
			&.phone,
			&.email {
				@media (max-width: $md) {
					display: none;
				}
			}
			.fa {
				margin-right: 0.5em;
			}
			input {
				border: none;
				background-color: transparent;
				outline: none;
				padding: 0.5em;
			}
		}
	}
	.shipping-info {
		display: flex;
		flex: 1;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
		text-transform: uppercase;
		@media (max-width: $xl) {
			flex: initial;
		}
		@media (max-width: $md) {
			display: none;
		}
		.fa {
			margin-right: 0.5em;
		}
	}
	.mobile-menu {
		display: none;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
		justify-content: flex-end;
		text-transform: uppercase;
		@media (max-width: $md) {
			display: flex;
		}
		.fa {
			margin-right: 0.5em;
		}
	}
	.login-register-mobile {
		display: none;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
		text-transform: uppercase;
		@media (max-width: $md) {
			display: flex;
		}
		.fa {
			margin-right: 0.5em;
		}
	}
	.login-register,
	.login-register-mobile {
		display: flex;
		align-items: center;
		padding-left: 1em;
		padding-right: 1em;
		text-transform: uppercase;
		@media (max-width: $xl) {
			flex: 1;
			justify-content: flex-end;
		}
		@media (max-width: $md) {
			display: none;
		}
		.fa {
			margin-left: 0.5em;
		}
	}
}
