// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,800;1,100;1,400&display=swap");

$secondary: #f3f0ec;
$secondary-500: #d0bda5;

body {
	color: #1a1818;
	font-family: "Fira Sans", sans-serif;
}

#top-bar {
	height: 50px;
	background-color: $secondary;
	display: flex;
	.contact-info {
		display: flex;
		.contact-item {
			display: flex;
			align-items: center;
			padding-left: 1em;
			padding-right: 1em;
			.fa {
				margin-right: 0.5em;
			}
		}
	}
}
